body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/*Header*/
header.navbar {
  background: #00192e;
  padding: 1em 5%;
  display: flex;
  justify-content: space-between;
}
img.logo {
  width: 10em;
}
nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #000e1a;
  height: 100vh;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.open-nav {
  transform: translateX(0%);
}

ul.nav-items {
  margin-block: auto;
  margin-left: auto;
  padding: 0em;
  margin-top: 8em;
}
.nav-item a {
  padding: 1em;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  padding: 0.75em 2em;
  display: block;
}
a:hover {
  background-color: #00192e;
}
img.menu {
  width: 4em;
  height: 3em;
  cursor: pointer;
}

img.close {
  float: right;
  width: 4em;
  height: 3em;
  margin-right:1.5em ;
  margin-top:1em;
  cursor: pointer;
}


/*Hero*/
section {
  background-repeat: no-repeat;
  top: 100em;
  left: 0;
  background-size: cover;
  background-position:50% 50%;;
  background-position: -10em;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}


section.hero {
  background-image: url(../images/hero-image.jpg);
}

.hero-contents {
  padding: 1em 5%;
}

h1.hero-heading {
  text-align: left;
  margin-top: 1.5em;
  padding-bottom: 0.3em;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 4rem;
  background: linear-gradient(90deg, #007ce4 16.4%, #000000 89.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
h2.hero-subheading {
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

button {
  border: none;
  border-radius: 100em;
  margin: 2em 0;
  padding: 0;
  background: linear-gradient(90deg, #007CE4 0%, #000000 100%);
  color: white;

  
}
button p {
  margin: 0;
  padding: 0.8em 2.4em;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
}
button p:hover {
  background: linear-gradient(90deg, #007CE4 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
button:hover {
  background: white;
  transition:  0.5s ease;
}

/*About us*/
section.about-us {
  min-height: auto;
}
h1 {
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(90deg, #007ce4 16.4%, #000000 89.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
p {
  padding-inline: 5%;
}

img.founder-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  height: 15em;
}
p.founder-name {
  text-align: center;
  font-weight:bold;
}

/*previous clients*/
section.prev-clients {
  min-height: auto;
}
h1.testimonials-h1 {
  color: white;
  -webkit-text-fill-color: white;
  padding-block: 1em;
  margin: 0;
}
ul.clients {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li.client {
  padding:  1em;
  display: flex;

}
img.client-image {
  width: 10em;
  border-radius: 1em;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

/*Testimonias*/
section.testimonials {
  background: url(../images/testimonials-bg.jpg);
  background-position: left -20em top -15em;
}
h1.tesimonials-h1 {
  padding-top: 1em;
  color: white;
}
.testimonial-bg {
  background: rgba(255, 255, 255, 0.12);
  margin-inline: 5%;
  margin-block: 1em;
  border-radius: 1em;
}
blockquote {
  color: white;
  padding: 1em;
  margin: 0;
}
footer {
  display: flex;
  background: rgb(27, 27, 27);
}
footer .col {
  padding: 1em;

}

footer h2 {
  color: rgb(92, 92, 92);
  margin: 0em;
}
footer li, a {
  color: rgb(179, 179, 179);
}
footer ul, a {
  padding: 0;
}
#left {
  width: 50%;
    float: left;
}
#right {
  width: 50%;
  float: right;
}

/*projects*/



.h-p {
  padding-inline: 2em;
}
.h-p h2 {
  text-align: center;
}
.h-p p {
  padding: 0;
}

section.project {
  min-height: auto;
}

section.project img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

@media only screen and (min-width: 680px) {
  header.navbar {
    padding: 1em 15%;
  }
  .hero-contents {
    padding-inline: 15%;
  }
  
  p {
    padding-inline: 15% ;
  }
  ul.clients {
    padding-inline: 15%;
  }

  
}
@media only screen and (min-width: 920px) {
  section {
    background-position:50% 50%;
  }
  header.navbar {
    padding: 0 5%;
    display: flex;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  img.close {
    display: none;
  }
  img.menu {
    display: none;
  }
  ul.nav-items {
    display: flex;
    margin: 0;
  }
  a {
    text-decoration: none;
    padding: 0 1em;
    margin: 0;
    padding-block: 1em;
  }
  a:hover {
    background-color: #00101d;
  }
  /*hero*/
  .hero-contents {
    padding-inline: 5%;
  }
  section.hero {
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  h1.hero-heading {
    font-size: 8rem;
    line-height: 1em;
    padding-bottom: 0.2em;
  }
  h2.hero-subheading {
    font-size: 1.5rem;
  }
  button {
    border: none;
    border-radius: 100em;
    margin: 5em 0;
    padding: 0;
    background: linear-gradient(90deg, #007CE4 0%, #000000 100%);
    color: white;
  
    
  }
  button p {
    margin: 0;
    padding: 0.8em 2.4em;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
  }


  /*Testimonials*/
  section.testimonials {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
    height: 100vh;

  }
  .col a {
    padding: 0;
  }

  /*projects*/
  section.project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2em;
  }
  section.project-reversed {
    flex-direction: row-reverse;
  }
  
  section.project img {
    width: 40em;
    margin: 0;
  }
  .h-p {
    width: 30em;

  }
}
